body {
  font-family: sans-serif;
  background: #FCD7AD;
}

header {
  margin-top: 5vh;

  .logo-container {
    width: 150px;
    margin: 0 auto;
  }

  h1.main-title {
    font-size: 4em;
    text-align: center;
    color: #C93636;
    margin: .4em 0 0 0;
  }

  p.tagline {
    text-align: center;
    margin: 2em 0;
  }
}

header + section.prose {
  margin-top: 4em;
}

div.cta {
  text-align: center;

  .cta-link {
    font-size: 3rem;
    font-weight: bold;
    transform: rotate(-3deg);
  }

  .cta-subtitle {
    font-size: 1.5rem;
    transform: rotate(1deg);
    margin-top: .5em;
  }
}

section.prose {
  width: 70ch;
  margin: 0 auto;

  h2, h3 {
    margin-top: 2em;
  }
}
