body {
  font-family: sans-serif;
  background: #FCD7AD;
}

.logo-container {
  width: 300px;
  margin: 0 auto;
  margin-top: 10vh;
}

section h1.main-title {
  font-size: 4em;
  text-align: center;
  color: #C93636;
}

section.prose-body {
  max-width: 70ch;
  margin: 0 auto;
}
